/* Format for applying styling rules */
[selector] {
  [property]: [value];
}


html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

.clearfix {
   overflow: auto;
}


body {
  font-size: 1rem;
  line-height: 1.3;
  font-family: 'Dotum', 'SC Dream', Arial, sans-serif;
  /* text-transform: uppercase; */
  letter-spacing: 0.045rem;
  margin: 0;
  padding: 1.3rem;
  background: white;
  /* overflow-x: hidden; */
  width: 100%;
  overflow: auto;
}

.work-container {
  padding-top: 4rem;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  float: left;
  display: block;
  overflow: auto;


}

/* @media (max-width: 800px) {
  .work-container {
    max-width: 80%;
  }
} */

/*
img {
  max-width: 100%;
  width: auto;
  height: auto;
  z-index: 1
}


figure {
  margin: 0;
  padding: 0;
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
  width: 600px;
  display: block;
  position: relative;
}

@media (max-width: 800px) {
  figure {
    width: 100%;
    display: block;
  }
}



.work {
  float: left;
  display: block;
  max-width: 100%;
}

@media (max-width: 800px) {
  .work {
    width: 50%;
  }
} */




img {
  width: 600px;
  display: block;
  position: relative;
}


figure {
  margin: 0;
  padding: 0;
  margin-right: 1.5rem;
  margin-bottom:1.5rem;
  max-width: 100%;
  display: block;
  position: relative;
}

@media (max-width: 800px) {
  figure {
    width: 100%;
    display: block;
  }
}

.work {
  float: left;
  display: block;
  max-width: 100%;
}

@media (max-width: 800px) {
  .work {
    max-width: 70%;
  }
}




button{
  padding: 0;
  font-size: 1rem;
  line-height: 1.3;
  font-family: 'Dotum', 'SC Dream', Arial, sans-serif;
  letter-spacing: 0.045rem;
  cursor: grab;

}




* {
  box-sizing: border-box;
}

a:link, a:visited {
color: black;
text-decoration: none;
display: inline-block;
}

a:active { color: forestgreen;}
a:hover { color: lavender;}

/* footer {
  border-top: 1px;
  position: fixed;
  bottom: 10px;
  width: 100%;
} */

figcaption {
  padding-top: 4px;
}

@media (max-width: 800px) {
  figcaption {
    width: 100%;
  }
}

.text-frag {
  display: inline-block;
  margin-right: 3ch;
}

@media (max-width: 800px) {
  .text-frag {
    margin-right: 2ch;
  }
}


button{
  padding: 0;
  font-size: 1rem;
  line-height: 1.3;
  font-family: 'Dotum', 'SC Dream', Arial, sans-serif;
  letter-spacing: 0.045rem;
  cursor: grab;

}


.navbar {
  display: inline-block;
  margin-right: 3ch;
color: black;
  font-family: 'Dotum', 'SC Dream', Arial, sans-serif;
}

.navbar a {
  float: left;
  font-size: inherit;
  color: black;
  /* padding: 14px 16px; */
  text-decoration: none;
}


.dropdown .dropbtn {
  cursor: alias;
  border: none;
  color: black;
  background-color: inherit;
  font-family: 'Dotum', 'SC Dream', Arial, sans-serif;
  font-size: 1rem;
  /* margin: 0; */
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: white;
}

.dropdown-content {

  display: none;
  position: absolute;
  min-width: 160px;
  padding-top: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  border: 1px dotted;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1rem;
  line-height: 1.3;
  font-family: 'Dotum', 'SC Dream', Arial, sans-serif;
  letter-spacing: 0.045rem;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

.show {
  display: block;
}
